* {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(40, 40, 43);
  margin: 0;
  color: #2B283A;
}

.App {
  width: 550px;
  height: 550px;
  background-color: white;
  overflow: auto;
}

header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 0 20px;
}

header .icon-text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  margin-left: 10px;
}

header p {
  font-family: 'Inter';
  color: #FFFFFF;
  font-size: 12px;
  margin-left: auto;
}

.meme {
  position: relative;
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  height: auto;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin: 30px 40px;
}

.meme-form .input-text {
  margin-bottom: 10px;
}

.meme-form input {
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  width: 230px;
  height: 35px;
  text-indent: 10px;
}

.meme-form button {
  grid-column: 1 / -1;
  width: 480px;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.meme-form img {
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
  height: auto;
}